beautifulsoup4
requests
feedparser
textblob
yfinance
pandas
numpy
google-generativeai
libsql-client
cloudscraper
curl_cffi
selenium 
webdriver-manager
infisical-python
setuptools<70.0.0 # Required for investpy to access pkg_resources in Python 3.12
investpy
python-dateutil
toml
python-dotenv
streamlit>=1.35.0
